
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout
xcuserdata/
*.moved-aside
*.o
*.so
*.a
*.dylib
.ycm*
Doxyfile.bak
out/
.tags*
tags
npm-debug.log
.DS_Store
*.gch*
*.build
*.log
*~*
*Debug/
*Release/
Xcode
CmakeLists.txt.user
docs
*.autosave
build*
*.app
*.user
moc_*
ui_*.cpp
ui_*.h
qrc_*.cpp
qrc_*.h
.vs
*.blend1
.vscode
.fseventsd
*.config*
*.creator
*.files
*.includes
Tools/FAT32*.img