*.a
*.d
*.o
*.bin
_build
*.user
.vscode
*.img
Ag
AgOut.txt
Boot/Argentum
Boot/*.o
*.creator*
*.includes
*.files
*.config
compile_commands.json
.vscode
.Trashes
.TemporaryItems
.fseventsd
.DocumentRevisions-V100
iso
*.iso